.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 139px;
    gap: 139px;
    &__title {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 288px;
        font-style: normal;
        font-weight: 700;
    }
    &__text {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
    &__link {
        margin-bottom: 139px;
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
}
