.home {
    &__cards-container {
        margin: 0 auto;
        max-width: $max-width;
        width: 100%;
        border-radius: 25px;
        background: #f6f6f6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 56px 50px 43px 50px;
        gap: 50px 60px;
    }
}
@media (max-width: 1300px) {
    .home {
        margin: 20px;
        &__cards-container {
            justify-content: space-around;
        }
    }
}

@media (max-width: 865px) {
    .home {
        &__cards-container {
            background: none;
            padding: 20px 0px;
        }
    }
}
