.lodging {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: $max-width;
    &__title {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 5px;
        max-width: 635px;
    }
    &__location {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
    &__tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 24px;
    }
    &__tags-background {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0 30px;
        height: 25px;
        border-radius: 10px;
        background: #ff6060;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        flex-direction: column;
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
    &__profil {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    &__host-name {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
    &__host-picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
    &__rating {
        display: flex;
        justify-content: space-around;
        margin-top: 21px;
        width: 196px;
        height: 36px;
    }
    &__accordions {
        display: flex;
        gap: 76px;
    }
    &__equipments {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 1300px) {
    .lodging {
        margin: 20px;
    }
}

@media (max-width: 650px) {
    .lodging {
        &__wrapper {
            flex-direction: column;
        }
        &__right {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__accordions {
            padding-top: 20px;
            flex-direction: column;
            gap: 20px;
        }
        &__host-name {
            font-size: 14px;
        }
        &__rating {
            width: 108px;
            height: 24px;
        }
    }
}
