.accordion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 1023px;
    &__header {
        background-color: #ff6060;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
        width: 100%;
    }
    &__title {
        color: #fff;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }
    &__arrow-up {
        transform: rotate(-180deg);
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
    }
    &__arrow-down {
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
    }
    &__children {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f6f6f6;
        border-radius: 10px 10px 5px 5px;
        overflow: hidden;
    }
    &__children-visible {
        transition: max-height 0.4s ease-in-out;
        max-height: 10000px;
        transition: padding 0.4s ease-in-out;
        padding: 20px 20px;
    }
    &__children-hidden {
        transition: max-height 0.4s ease-in-out;
        max-height: 0px;
        transition: padding 0.4s ease-in-out;
        padding: 0px 20px;
    }
}
