.banner {
    max-width: $max-width;
    margin: 50px auto 43px auto;
    position: relative;

    &__img {
        border-radius: 25px;
        display: block;
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background: rgba($color: #000000, $alpha: 0.3);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
        margin: 0;
        width: 705px;
        color: #fff;
        font-family: Montserrat;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
    }
}
