body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

ul {
  list-style: none;
}

.banner {
  max-width: 1240px;
  margin: 50px auto 43px auto;
  position: relative;
}
.banner__img {
  border-radius: 25px;
  display: block;
  width: 100%;
}
.banner__background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__text {
  margin: 0;
  width: 705px;
  color: #fff;
  font-family: Montserrat;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 775px) {
  .banner {
    margin: 27px auto 22px auto;
  }
  .banner__text {
    font-size: 32px;
  }
}
@media (max-width: 475px) {
  .banner__text {
    font-size: 24px;
  }
}
.header {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 57px;
}
.header__link {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
  text-decoration: none;
}
.header__link-underline {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .header {
    padding: 25px;
  }
  .header__links {
    gap: 40px;
  }
  .header__link {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .header {
    padding: 25px;
  }
  .header__links {
    gap: 25px;
  }
  .header__link {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .header__app-logo {
    width: 100px;
  }
}
.card {
  max-width: 340px;
  max-height: 340px;
  position: relative;
}
.card__title {
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.card__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 58%, rgba(0, 0, 0, 0.5214460784) 84%);
}
.card__img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .card {
    width: 300px;
    height: 300px;
  }
  .card__background {
    width: 300px;
    height: 300px;
  }
  .card__img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1160px) {
  .card {
    width: 285px;
    height: 285px;
  }
  .card__background {
    width: 285px;
    height: 285px;
  }
  .card__img {
    width: 285px;
    height: 285px;
  }
}
@media (max-width: 1115px) {
  .card {
    width: 250px;
    height: 250px;
  }
  .card__background {
    width: 250px;
    height: 250px;
  }
  .card__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 1050px) {
  .card {
    width: 100%;
    height: 200px;
    max-width: 1000px;
  }
  .card__background {
    width: 100%;
    height: 200px;
  }
  .card__img {
    width: 100%;
    height: 200px;
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  max-width: 1023px;
}
.accordion__header {
  background-color: #ff6060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  width: 100%;
}
.accordion__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.accordion__arrow-up {
  transform: rotate(-180deg);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.accordion__arrow-down {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.accordion__children {
  width: 100%;
  height: 100%;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
}
.accordion__children-visible {
  transition: all 0.6s ease-in-out;
  max-height: 500px;
  padding: 20px 20px;
}
.accordion__children-hidden {
  transition: all 0.6s ease-in-out;
  max-height: 0px;
  padding: 0px 20px;
}

@media (max-width: 650px) {
  .accordion {
    margin: 0px;
  }
}
.carousel {
  width: 100%;
  height: 415px;
  position: relative;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
}
.carousel__img {
  width: 100%;
  height: 415px;
  object-fit: cover;
}
.carousel__arrow-left {
  position: absolute;
  top: calc(50% - 40px);
  left: 23px;
  cursor: pointer;
}
.carousel__arrow-right {
  position: absolute;
  top: calc(50% - 40px);
  right: 23px;
  cursor: pointer;
}
.carousel__numbering {
  position: absolute;
  left: calc(50% - 12px);
  bottom: 25px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: black;
  align-items: center;
  padding: 66px 0 29px 0;
  gap: 29px;
}
.footer__logo {
  width: 122px;
}
.footer__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.home__cards-container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  border-radius: 25px;
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 56px 50px 43px 50px;
  gap: 50px 60px;
}

@media (max-width: 1300px) {
  .home {
    margin: 20px;
  }
  .home__cards-container {
    justify-content: space-around;
  }
}
@media (max-width: 865px) {
  .home__cards-container {
    background: none;
    padding: 20px 0px;
  }
}
.lodging {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 1240px;
}
.lodging__title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 635px;
}
.lodging__location {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.lodging__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 24px;
}
.lodging__tags-background {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 30px;
  height: 25px;
  border-radius: 10px;
  background: #ff6060;
}
.lodging__wrapper {
  display: flex;
  justify-content: space-between;
}
.lodging__left {
  display: flex;
  flex-direction: column;
}
.lodging__right {
  display: flex;
  flex-direction: column;
}
.lodging__profil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.lodging__host-name {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.lodging__host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.lodging__rating {
  display: flex;
  justify-content: space-around;
  margin-top: 21px;
  width: 196px;
  height: 36px;
}
.lodging__accordions {
  display: flex;
  gap: 76px;
}
.lodging__equipments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1300px) {
  .lodging {
    margin: 20px;
  }
}
@media (max-width: 650px) {
  .lodging__wrapper {
    flex-direction: column;
  }
  .lodging__right {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .lodging__accordions {
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .lodging__host-name {
    font-size: 14px;
  }
  .lodging__rating {
    width: 108px;
    height: 24px;
  }
}
.about__accordions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1300px) {
  .about {
    margin: 20px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 139px;
  gap: 139px;
}
.error__title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
}
.error__text {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}
.error__link {
  margin-bottom: 139px;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 900px) {
  .error__title {
    font-size: 200px;
  }
  .error__text {
    font-size: 26px;
  }
}
@media (max-width: 675px) {
  .error__title {
    font-size: 150px;
  }
  .error__text {
    font-size: 18px;
  }
}
@media (max-width: 475px) {
  .error__title {
    font-size: 125px;
  }
  .error__text {
    font-size: 14px;
  }
  .error__link {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
